body{
	color:#0065b7;
}

.profile-pic img{
	width: 75%;
	padding: 25px;
}

.row .profile-name{
	font-size: 3em;
	text-align: right;
	margin-top: 70px;
}

.row .profile-about{
	padding: 20px;
	text-align: justify;
}

.row .profile-teams{
	text-align: right;
	margin-top: 20px;
}

.profile-teams ul{
	list-style:outside none none;
}

.profile-teams ul li{
	display: inline-block;
	margin-right: 10px;
	background-color: #595959;
	color: #DDD;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 4px;
	border-right: 10px solid;
	cursor: pointer;
}

.profile-teams ul li:hover{
	color:#FFF;
}
